*{
    padding: 0;
    margin: 0;
    font-family: 'poppins, san-serif';
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, #43392F, #97704F );
    padding:10px;
}
.task-manager{
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin: 100px auto 50px;
    padding: 30px 30px 50px;
    border-radius: 10px;
}
.task-manager h2{
    color: #97704F;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.task-manager h2 img{
    width: 30px;
    margin-left: 10px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}
button{
    border: none;
    outline: none;
    padding: 15px 50px; 
    background: #97704F;
    color: #fff;
    cursor: pointer;
    font-size: 10px;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 15px;
    padding: 12px 8px 10px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
 content: '';
 position: absolute;
 height: 28px;
 width: 28px;
 border-radius: 50%;
 background-image: url(images/download.jpeg);
 background-size: cover;
 background-position: center;
 top: 12px;
 left: 8px;
}
ul li.checked{
    color: #555;
    text-decoration: line-through;
}
ul li.checked::before{

}
