*{
    padding: 0;
    margin: 0;
    font-family: 'poppins, san-serif';
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(120deg, #43392F, #97704F );
    padding:10px;
}
.task-manager{
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    margin: 100px auto 50px;
    padding: 30px 30px 50px;
    border-radius: 10px;
}
.task-manager h2{
    color: #97704F;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.task-manager h2 img{
    width: 30px;
    margin-left: 10px;
}
